body {
  background: black;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1366px;
  min-height: 700px;
  width: 100%;
  margin: 25px auto;
  background: radial-gradient(white, black);
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-size: 48px;
  color: #CC3300;
  margin-top: 25px;
  overflow: hidden;
  white-space: nowrap;
  animation: fade 3s infinite;
}

h1, .checkbox-container {
  font-weight: bold;
  font-family: 'Electrolize', sans-serif;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container p {
  font-size: 36px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.checkbox-container p:hover {
  opacity: .35;
  transition: .7s;
  cursor: pointer;
}

.regular-checkbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #000;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	position: relative;
}

.regular-checkbox:hover {
  cursor: pointer;
  background-color: #afa6a6;
  transition: .3s;
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.checklist-container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.globe-container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}